/* GLOBAL */
:root {
  --primary: #073b4c;
  --secondary: #118ab2;
  --dark: #242423;
  --light: #fef9ef;
  --success: #06d6a0;
  --alert: #ef476f;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
/* maybe Safari will support this someday? */
/* html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
} */
body {
  background-color: var(--light);
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}

/* SHOWCASE / HERO */
.showcase {
  height: 45vh;
  width: 100%;
  background-image: url(./images/metcalfdev.svg);
  background-size: 743px 272px;
  background-repeat: no-repeat;
  background-position: center;
}
.content {
  position: relative;
  top: 70%;
}
.content .title {
  font-size: 2rem;
  color: var(--secondary);
}

.content .text {
  line-height: 1.7;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--secondary);
}

/* NAVBAR, HOME & SECTION SCROLLING, CONTACT LINKS*/
.navbar {
  position: relative;
  top: 75%;
  box-shadow: 0 5px 4px 0px rgba(17, 138, 178, 0.4);
}
/* Hover Effects - Navbar, Card links, Section headers and 'home' scroll*/
.navlink {
  color: var(--primary);
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0.75rem;
}
/* section headers */
.sectionHead {
  color: var(--primary);
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-bottom: 2px solid rgba(239, 71, 111, 0.6);
}
/* repo, contact & home links */
.card-body a,
.scrollHome {
  color: var(--dark);
  font-weight: 600;
  border-bottom: 2px solid var(--secondary);
}
/* transition - stretch */
.navlink,
.sectionHead,
.card-body a,
.scrollHome {
  transition: letter-spacing 400ms;
}
/* hover & focus */
.navlink:hover,
.navlink:focus,
.sectionHead:hover,
.sectionHead:focus,
.card-body a:hover,
.card-body a:focus,
.scrollHome:hover,
.scrollHome:focus {
  outline: none;
  text-decoration: none;
  color: var(--primary);
  letter-spacing: 0.08rem;
  border-bottom: 2px solid var(--alert);
}
/* decrease margin so hover doesn't distort size of elements */
.navlink:hover,
.navlink:focus {
  margin-bottom: -2px;
}
.sectionHead:hover,
.sectionHead:focus,
.scrollHome:hover,
.scrollHome:focus {
  letter-spacing: 0.25rem;
}
.card-body a:hover,
.card-body a:focus {
  color: var(--dark);
}

/* CARDS */
.card {
  border: 2px solid var(--success);
}
#portfolio {
  margin-top: 120px;
}
/* card deck */
.card-img-top {
  width: 100%;
  height: 23vh;
  object-fit: cover;
}
/* focus & hover for card images */
.imgFocus:focus {
  outline: none;
}
.card-img-top,
.imgFocus > img {
  transition: 0.5s ease-in-out transform;
}
/* lift and stretch a bit on hover / focus */
.imgFocus:focus > img {
  outline: 4px solid var(--alert);
  transform: translateY(-0.5rem) scaleX(1.02);
}
.card-img-top:hover {
  outline: 4px solid var(--alert);
  transform: translateY(-0.5rem) scaleX(1.02);
}
/* line up card titles */
.cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
}
.move-left {
  margin-left: 10px;
}

/* ABOUT SECTION */
.col .m-2,
p {
  margin: 0 10px;
}
.profile-pic {
  max-height: 200px;
  max-width: 200px;
}
/* Skills card */
.card-body ul {
  margin-left: 40px;
}

/* CONTACT SECTION */
#submit-btn {
  transition: letter-spacing 400ms;
}
#submit-btn:hover,
#submit-btn:focus {
  letter-spacing: 0.08rem;
  background-color: var(--alert);
}
#submit-btn:focus {
  color: #fff;
}
/* .try-again styles dynamically-created warnings, see storeInfo() */
.try-again {
  margin-left: 6px;
  color: var(--alert);
}

/* MODAL */
/* trim it up */
.modal-dialog {
  max-width: 300px;
  margin: 0 auto;
}
/* simplify and center it */
.modal-header {
  border-bottom: 0 none;
}
.modal-footer {
  border-top: 0 none;
}
.modal-footer {
  justify-content: center;
}

/* FOOTER */
.footer {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  text-align: center;
  border-top: 2px solid var(--success);
  color: #fff;
  background-color: var(--secondary);
}
/* let's have some fun */
.footer a {
  border-bottom: 2px solid var(--success);
  transition: margin 1s, font-size 1s, letter-spacing 1s;
}
.footer a:hover,
.footer a:focus {
  outline: none;
  border-bottom: 2px solid var(--alert);
  margin: 0 0.25rem;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
}
/* spin, Octocat, spin!!! */
span:focus {
  outline: 0;
}
span:hover i,
span a:focus i {
  animation: rotation 800ms 1 linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

/* MOBILE */
@media (max-width: 575px) {
  /* hero */
  .showcase {
    height: 40vh;
  }
  /* navbar adjustments */
  .navbar {
    padding: 12px;
  }
  .navbar-nav,
  .nav-item {
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
  .navlink {
    margin: 0 5px;
  }
  .mobileRow {
    margin: 0 -1.9rem;
  }
  /* Card text alignment, all sections */
  .move-left {
    margin: 0;
  }
  .cardTitle,
  .cardSubtitle {
    text-align: center;
  }

  /* Card Images */
  .card-img-top {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }

  /* About selfie */
  .card-body .profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* About skills & Contact thank you cards */
  .col-sm-4 {
    padding-bottom: 20px;
  }

  /* Portfolio responsive images */
  .card-img-top {
    object-fit: cover;
  }
}
