/* CUSTOM UTILITIES - David Metcalf, 2020 GitHub: @gloriousLoaf */
/* Grid & Components */
.container {
  margin: 0 auto;
  overflow: auto;
  padding: 0 10rem;
}
.subContainer {
  margin: 0 auto;
  overflow: auto;
  padding: 0 2rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid4 {
  grid-template-columns: repeat(4, 1fr);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  /* border-radius: 0.3rem; */
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(8px 8px 3px rgba(13, 39, 80, 0.2));
}
/* TEXT - size, weight, color */
.lead {
  font-size: 1.25rem;
}
.md {
  font-size: 1.75rem;
}
.bold {
  font-weight: 600;
}
.txCenter {
  text-align: center;
}
.txAlert {
  color: var(--alert);
}
/* CENTERING & BOX MODEL */
.deadCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* margin */
.m1 {
  margin: 1rem;
}
.my4 {
  margin: 3rem 0;
}
.mt2 {
  margin: 1.5rem 0 0 0;
}
.mt3 {
  margin: 2rem 0 0 0;
}
.mb1 {
  margin: 0 0 1rem 0;
}
.ml1 {
  margin: 0 0 0 1rem;
}
.ml3 {
  margin: 0 0 0 2rem;
}
/* padding */
.p1 {
  padding: 1rem;
}
.pb1 {
  padding: 0 0 1rem 0;
}
