/* CONTACT PAGE */
h1 + div > p {
  text-align: center;
}

label {
  margin-top: 0.5rem;
}

input {
  padding: 0.5rem 0 0.25rem 0.25rem;
  border: 1px solid;
}

textarea {
  margin-bottom: 1rem;
  padding: 0.15rem 0 0 0.15rem;
  resize: vertical;
  border: 1px solid;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--secondary);
}

label:last-of-type,
input:last-of-type {
  display: none;
}

form p {
  font-size: 0.75rem;
}

section button {
  font-size: 1rem;
  color: var(--white);
  background-color: inherit;
  width: min-content;
  padding: 0.5rem 1rem;
  border: 2px solid var(--secondary);
  box-shadow: var(--primary) 4px 4px 0px 0px;
  transition: all 0.3s ease;
}

.box.invert section button {
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  box-shadow: var(--dark) 4px 4px 0px 0px;
}

section button:hover,
section button:focus,
.box.invert section button:hover,
.box.invert section button:focus {
  cursor: pointer;
  transform: translate(4px, 4px);
  box-shadow: none;
}

/* 'Got it!' dynamic card, see form.js */
h1 + div + div {
  display: none;
}

h1 + div + div p:first-of-type {
  outline: none;
  font-size: 1.25rem;
  font-weight: 600;
}

@media (min-width: 769px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }

  h1 + div > p {
    text-align: left;
  }
}
