/* FONTS - thanks to: https://google-webfonts-helper.herokuapp.com/ */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v15-latin-regular.woff') format('woff'),
    url('../fonts/poppins-v15-latin-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url('../fonts/poppins-v15-latin-700.woff2') format('woff2'),
    url('../fonts/poppins-v15-latin-700.woff') format('woff'),
    url('../fonts/poppins-v15-latin-700.ttf') format('truetype');
}

/* GLOBAL */
:root {
  --alert: #ef3d36;
  --primary: #1d3f5d;
  --secondary: #45a29e;
  --dark: #000;
  --dark2: #191b24;
  --light: #fff;
  font-size: 87.5%;
}
/* scaling base font to 14px for tiny, ancient phones */
@media (min-width: 322px) {
  :root {
    font-size: 100%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ELEMENTS */
body {
  font-family: 'Poppins', sans-serif;
}

main {
  padding: 2rem 0;
}

section {
  margin: 1rem 0 2rem;
}

h1,
h2 {
  padding: 0.75rem 0;
  text-align: center;
}

@media (min-width: 769px) {
  h1,
  h2 {
    text-align: left;
  }
}

p {
  padding: 0.5rem 0;
}

p a {
  padding-bottom: 0.1rem;
  border-bottom: 2px solid var(--secondary);
}

p a:hover,
p a:focus {
  font-weight: 600;
  border-bottom: 2px solid var(--alert);
}

a,
button {
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.1s ease;
}

ul {
  list-style-type: '>  ';
  padding: 0 0 2rem 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button,
input,
textarea {
  font-family: inherit;
}

/* UTILITIES */
.box {
  position: relative;
  min-height: 100vh;
  padding: 1rem;
  color: var(--dark);
  background-color: var(--light);
}

@media (min-width: 769px) {
  .box {
    padding: 1rem 10%;
  }
}

.box * {
  color: inherit;
}

/* see theme.css for prefers-color-scheme: dark */
.box.invert {
  color: var(--light);
  background-color: var(--dark2);
}

.box.invert input,
.box.invert textarea {
  color: var(--dark);
}

.card {
  contain: content;
  content-visibility: auto;
  margin: 1rem 0;
  padding: 1rem;
  background-clip: border-box;
  border: 2px solid var(--secondary);
  box-shadow: var(--primary) 12px 12px 0px 0px;
}

.box.invert .card {
  border: 2px solid var(--primary);
  box-shadow: var(--dark) 12px 12px 0px 0px;
}

@media (min-width: 769px) {
  .card {
    margin: 0 0 1rem 0;
  }
}

/* HEADER & NAV */
header {
  font-size: 1.25rem;
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav,
header p {
  padding: 0 0 0.5rem 0;
  padding: 0.5rem 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

nav li {
  padding: 0 0.5rem;
}

nav li a:hover,
nav li a:focus {
  border-bottom: 3px solid var(--alert);
}

nav .current {
  border-bottom: 3px solid var(--secondary);
}

nav li button {
  cursor: pointer;
  font-size: inherit;
  background-color: transparent;
  border-bottom: 3px solid transparent;
}

nav li button:hover,
nav li button:focus {
  outline: none;
  border-bottom: 3px solid var(--alert);
}

@media (min-width: 769px) {
  header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4rem;
  text-align: center;
  padding: 1rem;
}

footer a {
  display: inline-block;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid var(--secondary);
  transition: all 0.5s ease;
}

footer a:hover,
footer a:focus {
  font-weight: 600;
  border-bottom: 2px solid var(--alert);
  margin: 0 0.25rem;
  letter-spacing: 0.08rem;
  animation: wiggle 0.5s linear;
}

@keyframes wiggle {
  0%,
  40%,
  100% {
    transform: rotateZ(-2deg);
  }
  20%,
  60%,
  80% {
    transform: rotateZ(2deg);
  }
}
